Repository frequenz-floss/chanpygnon, changes with the labels that .github/labeler.yml gives for each.
All labels: part:docs, part:tests, part:tooling, part:channels, part:core, part:experimental, part:synchronization, part:utilities

.github/labeler.yml:

# Configuration for the Labeler GitHub action, executed by
# .github/workflows/labeler.yml.
#
# The basic syntax is [label]: [path patterns].
#
# For more details on the configuration please see:
# https://github.com/marketplace/actions/labeler

"part:docs":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "docs/**"
      - "examples/**"
      - LICENSE

"part:tests":
  - changed-files:
    - any-glob-to-any-file:
      - "**/conftest.py"
      - "tests/**"

"part:tooling":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.ini"
      - "**/*.toml"
      - "**/*.yaml"
      - "**/*.yml"
      - "**/conftest.py"
      - ".editorconfig"
      - ".git*"
      - ".git*/**"
      - "docs/*.py"
      - CODEOWNERS
      - MANIFEST.in
      - noxfile.py

"part:channels":
  - changed-files:
    - any-glob-to-any-file:
      - "src/frequenz/channels/_anycast.py"
      - "src/frequenz/channels/_broadcast.py"

"part:core":
  - changed-files:
    - any-glob-to-any-file:
      - "src/frequenz/channels/_exceptions.py"
      - "src/frequenz/channels/_receiver.py"
      - "src/frequenz/channels/_sender.py"

"part:experimental":
  - changed-files:
    - any-glob-to-any-file:
      - "src/frequenz/channels/experimental/*.py"

"part:synchronization":
  - changed-files:
    - any-glob-to-any-file:
      - "src/frequenz/channels/_merge.py"
      - "src/frequenz/channels/_select.py"

"part:utilities":
  - changed-files:
    - any-glob-to-any-file:
      - "src/frequenz/channels/event.py"
      - "src/frequenz/channels/file_watcher.py"
      - "src/frequenz/channels/timer.py"

Sort versions.json
  versions.json
Labels: none

Add a `close` method to the `Receiver` interface
  src/frequenz/channels/_anycast.py
  src/frequenz/channels/_broadcast.py
  src/frequenz/channels/_merge.py
  src/frequenz/channels/_receiver.py
  src/frequenz/channels/event.py
  src/frequenz/channels/file_watcher.py
  src/frequenz/channels/timer.py
Labels: part:channels, part:core, part:synchronization, part:utilities

Add `@override` decorators
  src/frequenz/channels/_anycast.py
  src/frequenz/channels/_broadcast.py
  src/frequenz/channels/_merge.py
  src/frequenz/channels/_receiver.py
  src/frequenz/channels/event.py
  src/frequenz/channels/experimental/_relay_sender.py
  src/frequenz/channels/file_watcher.py
  src/frequenz/channels/timer.py
Labels: part:channels, part:core, part:experimental, part:synchronization, part:utilities

Add tests for all `Receiver.close()` implementations
  tests/test_anycast.py
  tests/test_broadcast.py
  tests/test_event.py
  tests/test_file_watcher_integration.py
  tests/test_merge_integration.py
  tests/test_timer.py
Labels: part:tests

Update release notes
  RELEASE_NOTES.md
Labels: part:docs

Deployed cd54c44 to v1.6-dev with MkDocs 1.6.1 and mike 2.1.3
  v1.6-dev/_scripts/__pycache__/macros.cpython-311.pyc
  v1.6-dev/objects.inv
  v1.6-dev/reference/frequenz/channels/event/index.html
  v1.6-dev/reference/frequenz/channels/experimental/index.html
  v1.6-dev/reference/frequenz/channels/file_watcher/index.html
  v1.6-dev/reference/frequenz/channels/index.html
  v1.6-dev/reference/frequenz/channels/timer/index.html
  v1.6-dev/search/search_index.json
  v1.6-dev/sitemap.xml.gz
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none

Prepare for release v1.6.0
  RELEASE_NOTES.md
Labels: part:docs

Clear release notes
  RELEASE_NOTES.md
Labels: part:docs

Sort versions.json
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none

Deployed b27175a to v1.7-dev with MkDocs 1.6.1 and mike 2.1.3
  v1.7-dev/_scripts/__pycache__/macros.cpython-311.pyc
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none

Explain the `Receiver.close()` method in the user guide
  src/frequenz/channels/_receiver.py
Labels: part:core

Deployed ccef0ab to v1.7-dev with MkDocs 1.6.1 and mike 2.1.3
  v1.7-dev/_scripts/__pycache__/macros.cpython-311.pyc
  v1.7-dev/reference/frequenz/channels/event/index.html
  v1.7-dev/reference/frequenz/channels/file_watcher/index.html
  v1.7-dev/reference/frequenz/channels/index.html
  v1.7-dev/reference/frequenz/channels/timer/index.html
  v1.7-dev/search/search_index.json
  v1.7-dev/sitemap.xml.gz
  v1.7-dev/user-guide/receiving/index.html
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none

Deployed ccef0ab to v1.6 with MkDocs 1.6.1 and mike 2.1.3
  v1.6/_scripts/__pycache__/macros.cpython-311.pyc
  v1.6/reference/frequenz/channels/event/index.html
  v1.6/reference/frequenz/channels/file_watcher/index.html
  v1.6/reference/frequenz/channels/index.html
  v1.6/reference/frequenz/channels/timer/index.html
  v1.6/search/search_index.json
  v1.6/sitemap.xml.gz
  v1.6/user-guide/receiving/index.html
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none

Deployed 6adf3a3 to v1.7-dev with MkDocs 1.6.1 and mike 2.1.3
  v1.7-dev/_scripts/__pycache__/macros.cpython-311.pyc
  v1.7-dev/reference/frequenz/channels/event/index.html
  v1.7-dev/reference/frequenz/channels/file_watcher/index.html
  v1.7-dev/reference/frequenz/channels/index.html
  v1.7-dev/reference/frequenz/channels/timer/index.html
  v1.7-dev/search/search_index.json
  v1.7-dev/sitemap.xml.gz
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none

Deployed 1f58302 to v1.7-dev with MkDocs 1.6.1 and mike 2.1.3
  v1.7-dev/404.html
  v1.7-dev/CONTRIBUTING/index.html
  v1.7-dev/SUMMARY/index.html
  v1.7-dev/_scripts/__pycache__/macros.cpython-311.pyc
  v1.7-dev/assets/javascripts/bundle.5090c770.min.js
  v1.7-dev/assets/javascripts/bundle.5090c770.min.js.map
  v1.7-dev/assets/javascripts/bundle.88dd0f4e.min.js
  v1.7-dev/assets/javascripts/bundle.88dd0f4e.min.js.map
  v1.7-dev/assets/javascripts/workers/search.6ce7567c.min.js.map
  v1.7-dev/assets/javascripts/workers/search.f8cc74c7.min.js
  v1.7-dev/assets/javascripts/workers/search.f8cc74c7.min.js.map
  v1.7-dev/assets/stylesheets/main.6f8fc17f.min.css
  v1.7-dev/assets/stylesheets/main.a40c8224.min.css
  v1.7-dev/assets/stylesheets/main.a40c8224.min.css.map
  v1.7-dev/index.html
  v1.7-dev/reference/SUMMARY/index.html
  v1.7-dev/reference/frequenz/channels/event/index.html
  v1.7-dev/reference/frequenz/channels/experimental/index.html
  v1.7-dev/reference/frequenz/channels/file_watcher/index.html
  v1.7-dev/reference/frequenz/channels/index.html
  v1.7-dev/reference/frequenz/channels/timer/index.html
  v1.7-dev/user-guide/SUMMARY/index.html
  v1.7-dev/user-guide/channels/anycast/index.html
  v1.7-dev/user-guide/channels/broadcast/index.html
  v1.7-dev/user-guide/channels/index.html
  v1.7-dev/user-guide/error-handling/index.html
  v1.7-dev/user-guide/installation/index.html
  v1.7-dev/user-guide/quick-start/index.html
  v1.7-dev/user-guide/receiving/caching/index.html
  v1.7-dev/user-guide/receiving/index.html
  v1.7-dev/user-guide/receiving/synchronization/index.html
  v1.7-dev/user-guide/receiving/synchronization/merge/index.html
  v1.7-dev/user-guide/receiving/synchronization/select/index.html
  v1.7-dev/user-guide/sending/index.html
  v1.7-dev/user-guide/utilities/events/index.html
  v1.7-dev/user-guide/utilities/file-watchers/index.html
  v1.7-dev/user-guide/utilities/timers/index.html
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none
