Repository frequenz-floss/chanpygnon, changes with the labels that .github/labeler.yml gives for each.
All labels: part:docs, part:tests, part:tooling, part:channels, part:receivers, part:select

.github/labeler.yml:

# Configuration for the Labeler GitHub action, executed by
# .github/workflows/labeler.yml.
#
# The basic syntax is [label]: [path patterns].
#
# For more details on the configuration please see:
# https://github.com/marketplace/actions/labeler

"part:docs":
  - "**/*.md"
  - "docs/**"
  - "examples/**"
  - LICENSE

"part:tests":
  - "**/conftest.py"
  - "tests/**"

"part:tooling":
  - "**/*.ini"
  - "**/*.toml"
  - "**/*.yaml"
  - "**/*.yml"
  - "**/conftest.py"
  - ".editorconfig"
  - ".git*"
  - ".git*/**"
  - "docs/*.py"
  - CODEOWNERS
  - MANIFEST.in
  - noxfile.py

"part:channels":
  - "src/frequenz/channels/anycast.py"
  - "src/frequenz/channels/bidirectional.py"
  - "src/frequenz/channels/broadcast.py"

"part:receivers":
  - "src/frequenz/channels/event.py"
  - "src/frequenz/channels/file_watcher.py"
  - "src/frequenz/channels/merge.py"
  - "src/frequenz/channels/merge_named.py"
  - "src/frequenz/channels/timer.py"

"part:select":
  - "src/frequenz/channels/_select.py"

Sort versions.json
  versions.json
Labels: none

Deployed a8710e5 to v1.2-dev with MkDocs 1.6.0 and mike 2.1.2
  v1.2-dev/_scripts/__pycache__/macros.cpython-311.pyc
  v1.2-dev/_scripts/macros.py
  v1.2-dev/reference/frequenz/channels/event/index.html
  v1.2-dev/reference/frequenz/channels/file_watcher/index.html
  v1.2-dev/reference/frequenz/channels/index.html
  v1.2-dev/reference/frequenz/channels/timer/index.html
  v1.2-dev/search/search_index.json
  v1.2-dev/sitemap.xml.gz
  v1.2-dev/user-guide/receiving/index.html
  versions.json
Labels: none

Deployed a8710e5 to v1.1 with MkDocs 1.6.0 and mike 2.1.2
  v1.1/_scripts/__pycache__/macros.cpython-311.pyc
  v1.1/_scripts/macros.py
  v1.1/reference/frequenz/channels/event/index.html
  v1.1/reference/frequenz/channels/file_watcher/index.html
  v1.1/reference/frequenz/channels/index.html
  v1.1/reference/frequenz/channels/timer/index.html
  v1.1/search/search_index.json
  v1.1/sitemap.xml.gz
  v1.1/user-guide/receiving/index.html
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none

Deployed d8bafe8 to v1.2-dev with MkDocs 1.6.0 and mike 2.1.2
  v1.2-dev/_scripts/__pycache__/macros.cpython-311.pyc
  v1.2-dev/sitemap.xml.gz
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none

Deployed 195a93c to v1.2-dev with MkDocs 1.6.1 and mike 2.1.3
  v1.2-dev/_scripts/__pycache__/macros.cpython-311.pyc
  v1.2-dev/reference/frequenz/channels/file_watcher/index.html
  v1.2-dev/search/search_index.json
  v1.2-dev/sitemap.xml.gz
  v1.2-dev/user-guide/utilities/file-watchers/index.html
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none

Deployed 62c2248 to v1.2-dev with MkDocs 1.6.1 and mike 2.1.3
  v1.2-dev/_scripts/__pycache__/macros.cpython-311.pyc
  v1.2-dev/sitemap.xml.gz
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none

Add scheduling class optimized for frequently changing timers
  RELEASE_NOTES.md
  pyproject.toml
  src/frequenz/channels/timer_scheduler.py
  tests/test_timer_scheduler.py
Labels: part:docs, part:tests, part:tooling

Deployed 68eb88e to v1.2-dev with MkDocs 1.6.1 and mike 2.1.3
  v1.2-dev/_scripts/__pycache__/macros.cpython-311.pyc
  v1.2-dev/reference/frequenz/channels/timer/index.html
  v1.2-dev/search/search_index.json
  v1.2-dev/sitemap.xml.gz
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none

Clean up `Timer` tasks
  src/frequenz/channels/timer.py
Labels: part:receivers

Sort versions.json
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none

Deployed 127e542 to v1.3-dev with MkDocs 1.6.1 and mike 2.1.3
  v1.3-dev/_scripts/__pycache__/macros.cpython-311.pyc
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none

Deployed defeb7f to v1.3-dev with MkDocs 1.6.1 and mike 2.1.3
  v1.3-dev/_scripts/__pycache__/macros.cpython-311.pyc
  v1.3-dev/sitemap.xml.gz
  versions.json
Labels: none

Support disabling of receiver-overflow warnings
  src/frequenz/channels/_broadcast.py
Labels: none

Update release notes
  RELEASE_NOTES.md
Labels: part:docs

Sort versions.json
  versions.json
Labels: none

Deployed 486d1be to v1.3-dev with MkDocs 1.6.1 and mike 2.1.3
  v1.3-dev/_scripts/__pycache__/macros.cpython-311.pyc
  v1.3-dev/objects.inv
  v1.3-dev/reference/frequenz/channels/event/index.html
  v1.3-dev/reference/frequenz/channels/file_watcher/index.html
  v1.3-dev/reference/frequenz/channels/index.html
  v1.3-dev/reference/frequenz/channels/timer/index.html
  v1.3-dev/search/search_index.json
  v1.3-dev/sitemap.xml.gz
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none

Deployed 340d164 to v1.3-dev with MkDocs 1.6.1 and mike 2.1.3
  v1.3-dev/_scripts/__pycache__/macros.cpython-311.pyc
  v1.3-dev/reference/frequenz/channels/event/index.html
  v1.3-dev/reference/frequenz/channels/file_watcher/index.html
  v1.3-dev/reference/frequenz/channels/index.html
  v1.3-dev/reference/frequenz/channels/timer/index.html
  v1.3-dev/search/search_index.json
  v1.3-dev/sitemap.xml.gz
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none

Deployed 13cf174 to v1.2-dev with MkDocs 1.6.1 and mike 2.1.3
  v1.2-dev/_scripts/__pycache__/macros.cpython-311.pyc
  v1.2-dev/reference/frequenz/channels/file_watcher/index.html
  v1.2-dev/search/search_index.json
  v1.2-dev/sitemap.xml.gz
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none

Deployed db33fbc to v1.3-dev with MkDocs 1.6.1 and mike 2.1.3
  v1.3-dev/_scripts/__pycache__/macros.cpython-311.pyc
  v1.3-dev/sitemap.xml.gz
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none

Deployed 224519c to v1.2-dev with MkDocs 1.6.1 and mike 2.1.3
  v1.2-dev/_scripts/__pycache__/macros.cpython-311.pyc
  v1.2-dev/reference/frequenz/channels/timer/index.html
  v1.2-dev/search/search_index.json
  v1.2-dev/sitemap.xml.gz
  versions.json
Labels: none

Deployed 391fe11 to v1.2 with MkDocs 1.6.1 and mike 2.1.3
  v1.2/_scripts/__pycache__/macros.cpython-311.pyc
  v1.2/reference/frequenz/channels/timer/index.html
  v1.2/search/search_index.json
  v1.2/sitemap.xml.gz
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none

Deployed b3c98e5 to v1.3-dev with MkDocs 1.6.1 and mike 2.1.3
  v1.3-dev/_scripts/__pycache__/macros.cpython-311.pyc
  v1.3-dev/reference/frequenz/channels/timer/index.html
  v1.3-dev/search/search_index.json
  v1.3-dev/sitemap.xml.gz
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none
