Repository frequenz-floss/chanpygnon, changes with the labels that .github/labeler.yml gives for each.
All labels: part:docs, part:tests, part:tooling, part:channels, part:core, part:experimental, part:synchronization, part:utilities

Deployed 1a91c6a to v1.4-dev with MkDocs 1.6.1 and mike 2.1.3
  v1.4-dev/_scripts/__pycache__/macros.cpython-311.pyc
  v1.4-dev/objects.inv
  v1.4-dev/reference/frequenz/channels/experimental/index.html
  v1.4-dev/search/search_index.json
  v1.4-dev/sitemap.xml.gz
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none

Deployed 10a29d7 to v1.4-dev with MkDocs 1.6.1 and mike 2.1.3
  v1.4-dev/_scripts/__pycache__/macros.cpython-311.pyc
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none

Deployed 3ecd097 to v1.4-dev with MkDocs 1.6.1 and mike 2.1.3
  v1.4-dev/_scripts/__pycache__/macros.cpython-311.pyc
  v1.4-dev/sitemap.xml.gz
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none

Deployed 221698e to v1.4-dev with MkDocs 1.6.1 and mike 2.1.3
  v1.4-dev/_scripts/__pycache__/macros.cpython-311.pyc
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none

Deployed b66c8ab to v1.4-dev with MkDocs 1.6.1 and mike 2.1.3
  v1.4-dev/404.html
  v1.4-dev/CONTRIBUTING/index.html
  v1.4-dev/SUMMARY/index.html
  v1.4-dev/_scripts/__pycache__/macros.cpython-311.pyc
  v1.4-dev/assets/stylesheets/main.0253249f.min.css
  v1.4-dev/assets/stylesheets/main.0253249f.min.css.map
  v1.4-dev/assets/stylesheets/main.6f8fc17f.min.css
  v1.4-dev/assets/stylesheets/main.6f8fc17f.min.css.map
  v1.4-dev/index.html
  v1.4-dev/reference/SUMMARY/index.html
  v1.4-dev/reference/frequenz/channels/event/index.html
  v1.4-dev/reference/frequenz/channels/experimental/index.html
  v1.4-dev/reference/frequenz/channels/file_watcher/index.html
  v1.4-dev/reference/frequenz/channels/index.html
  v1.4-dev/reference/frequenz/channels/timer/index.html
  v1.4-dev/user-guide/SUMMARY/index.html
  v1.4-dev/user-guide/channels/anycast/index.html
  v1.4-dev/user-guide/channels/broadcast/index.html
  v1.4-dev/user-guide/channels/index.html
  v1.4-dev/user-guide/error-handling/index.html
  v1.4-dev/user-guide/installation/index.html
  v1.4-dev/user-guide/quick-start/index.html
  v1.4-dev/user-guide/receiving/caching/index.html
  v1.4-dev/user-guide/receiving/index.html
  v1.4-dev/user-guide/receiving/synchronization/index.html
  v1.4-dev/user-guide/receiving/synchronization/merge/index.html
  v1.4-dev/user-guide/receiving/synchronization/select/index.html
  v1.4-dev/user-guide/sending/index.html
  v1.4-dev/user-guide/utilities/events/index.html
  v1.4-dev/user-guide/utilities/file-watchers/index.html
  v1.4-dev/user-guide/utilities/timers/index.html
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none

Update files using repo-config-0.11
  .github/dependabot.yml
  mkdocs.yml
  pyproject.toml
Labels: part:tooling

Deployed 90091ed to v1.4-dev with MkDocs 1.6.1 and mike 2.1.3
  v1.4-dev/_scripts/__pycache__/macros.cpython-311.pyc
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none

Revert "Add a new predicate to skip messages that are equal to the previous one"
  RELEASE_NOTES.md
  src/frequenz/channels/experimental/__init__.py
  src/frequenz/channels/experimental/_predicates.py
  tests/experimental/test_predicates_changed_only.py
Labels: part:docs, part:tests, part:experimental

Rename `OnlyIfPrevious` to `WithPrevious`
  RELEASE_NOTES.md
  src/frequenz/channels/experimental/__init__.py
  src/frequenz/channels/experimental/_predicates.py
  tests/experimental/test_predicates_only_if_previous.py
Labels: part:docs, part:tests, part:experimental

Fix documentation Broadcast -> Anycast
  src/frequenz/channels/_anycast.py
Labels: part:channels

Deployed 4c7f2c1 to v1.4-dev with MkDocs 1.6.1 and mike 2.1.3
  v1.4-dev/_scripts/__pycache__/macros.cpython-311.pyc
  v1.4-dev/reference/frequenz/channels/index.html
  v1.4-dev/search/search_index.json
  v1.4-dev/sitemap.xml.gz
  v1.4-dev/user-guide/channels/anycast/index.html
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none

Update the example to show how to receive only changed messages
  src/frequenz/channels/experimental/_predicates.py
Labels: part:experimental

Improve the documentation
  src/frequenz/channels/experimental/_predicates.py
Labels: part:experimental

Rename files to match the new content
  src/frequenz/channels/experimental/__init__.py
  src/frequenz/channels/experimental/_with_previous.py
  tests/experimental/test_with_previous.py
Labels: part:tests, part:experimental

Make the predicate argument positional-only
  src/frequenz/channels/experimental/_predicates.py
Labels: part:experimental

Sort versions.json
  versions.json
Labels: none

Deployed 56ae688 to v1.4-dev with MkDocs 1.6.1 and mike 2.1.3
  v1.4-dev/_scripts/__pycache__/macros.cpython-311.pyc
  v1.4-dev/objects.inv
  v1.4-dev/reference/frequenz/channels/experimental/index.html
  v1.4-dev/search/search_index.json
  versions.json
Labels: none

Deployed 2cc69b9 to v1.4-dev with MkDocs 1.6.1 and mike 2.1.3
  v1.4-dev/_scripts/__pycache__/macros.cpython-311.pyc
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none

Deployed f4a6642 to v1.4-dev with MkDocs 1.6.1 and mike 2.1.3
  v1.4-dev/_scripts/__pycache__/macros.cpython-311.pyc
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none

Clear release notes
  RELEASE_NOTES.md
Labels: part:docs

Sort versions.json
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none

Deployed 565084d to v1.5-dev with MkDocs 1.6.1 and mike 2.1.3
  v1.5-dev/_scripts/__pycache__/macros.cpython-311.pyc
  v1.5-dev/reference/frequenz/channels/index.html
  v1.5-dev/search/search_index.json
  v1.5-dev/sitemap.xml.gz
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none

Deployed 3f6143a to v1.5-dev with MkDocs 1.6.1 and mike 2.1.3
  v1.5-dev/404.html
  v1.5-dev/CONTRIBUTING/index.html
  v1.5-dev/SUMMARY/index.html
  v1.5-dev/_scripts/__pycache__/macros.cpython-311.pyc
  v1.5-dev/assets/javascripts/bundle.83f73b43.min.js
  v1.5-dev/assets/javascripts/bundle.83f73b43.min.js.map
  v1.5-dev/assets/javascripts/bundle.88dd0f4e.min.js
  v1.5-dev/assets/javascripts/bundle.88dd0f4e.min.js.map
  v1.5-dev/index.html
  v1.5-dev/reference/SUMMARY/index.html
  v1.5-dev/reference/frequenz/channels/event/index.html
  v1.5-dev/reference/frequenz/channels/experimental/index.html
  v1.5-dev/reference/frequenz/channels/file_watcher/index.html
  v1.5-dev/reference/frequenz/channels/index.html
  v1.5-dev/reference/frequenz/channels/timer/index.html
  v1.5-dev/sitemap.xml.gz
  v1.5-dev/user-guide/SUMMARY/index.html
  v1.5-dev/user-guide/channels/anycast/index.html
  v1.5-dev/user-guide/channels/broadcast/index.html
  v1.5-dev/user-guide/channels/index.html
  v1.5-dev/user-guide/error-handling/index.html
  v1.5-dev/user-guide/installation/index.html
  v1.5-dev/user-guide/quick-start/index.html
  v1.5-dev/user-guide/receiving/caching/index.html
  v1.5-dev/user-guide/receiving/index.html
  v1.5-dev/user-guide/receiving/synchronization/index.html
  v1.5-dev/user-guide/receiving/synchronization/merge/index.html
  v1.5-dev/user-guide/receiving/synchronization/select/index.html
  v1.5-dev/user-guide/sending/index.html
  v1.5-dev/user-guide/utilities/events/index.html
  v1.5-dev/user-guide/utilities/file-watchers/index.html
  v1.5-dev/user-guide/utilities/timers/index.html
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none

Prepare for release v1.5.0
  RELEASE_NOTES.md
Labels: part:docs

Deployed aceb7c5 to v1.5-dev with MkDocs 1.6.1 and mike 2.1.3
  v1.5-dev/_scripts/__pycache__/macros.cpython-311.pyc
  v1.5-dev/index.html
  v1.5-dev/reference/frequenz/channels/event/index.html
  v1.5-dev/reference/frequenz/channels/experimental/index.html
  v1.5-dev/reference/frequenz/channels/file_watcher/index.html
  v1.5-dev/reference/frequenz/channels/index.html
  v1.5-dev/reference/frequenz/channels/timer/index.html
  v1.5-dev/sitemap.xml.gz
  v1.5-dev/user-guide/channels/anycast/index.html
  v1.5-dev/user-guide/channels/broadcast/index.html
  v1.5-dev/user-guide/quick-start/index.html
  v1.5-dev/user-guide/receiving/caching/index.html
  v1.5-dev/user-guide/utilities/events/index.html
  v1.5-dev/user-guide/utilities/file-watchers/index.html
  v1.5-dev/user-guide/utilities/timers/index.html
  versions.json
Labels: none

Sort versions.json
  versions.json
Labels: none

Clear release notes
  RELEASE_NOTES.md
Labels: part:docs

Sort versions.json
  versions.json
Labels: none

.github/labeler.yml:

# Configuration for the Labeler GitHub action, executed by
# .github/workflows/labeler.yml.
#
# The basic syntax is [label]: [path patterns].
#
# For more details on the configuration please see:
# https://github.com/marketplace/actions/labeler

"part:docs":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.md"
      - "docs/**"
      - "examples/**"
      - LICENSE

"part:tests":
  - changed-files:
    - any-glob-to-any-file:
      - "**/conftest.py"
      - "tests/**"

"part:tooling":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*.ini"
      - "**/*.toml"
      - "**/*.yaml"
      - "**/*.yml"
      - "**/conftest.py"
      - ".editorconfig"
      - ".git*"
      - ".git*/**"
      - "docs/*.py"
      - CODEOWNERS
      - MANIFEST.in
      - noxfile.py

"part:channels":
  - changed-files:
    - any-glob-to-any-file:
      - "src/frequenz/channels/_anycast.py"
      - "src/frequenz/channels/_broadcast.py"

"part:core":
  - changed-files:
    - any-glob-to-any-file:
      - "src/frequenz/channels/_exceptions.py"
      - "src/frequenz/channels/_receiver.py"
      - "src/frequenz/channels/_sender.py"

"part:experimental":
  - changed-files:
    - any-glob-to-any-file:
      - "src/frequenz/channels/experimental/*.py"

"part:synchronization":
  - changed-files:
    - any-glob-to-any-file:
      - "src/frequenz/channels/_merge.py"
      - "src/frequenz/channels/_select.py"

"part:utilities":
  - changed-files:
    - any-glob-to-any-file:
      - "src/frequenz/channels/event.py"
      - "src/frequenz/channels/file_watcher.py"
      - "src/frequenz/channels/timer.py"
